<div class="hero">
    <div class="container">
        <div class="left">
            <div class="top-left">
                <div class="titles">
                    <!-- TODO Pense à utiliser le plus vite possible un/des fichier(s) de langue
                         parce qu'à chaque ligne de texte, tu creuses ton trou...! -->
                    <h1>Computer Science & Mathematics tutor</h1>
                    <h1>Software Developer</h1>
                </div>
                <a routerLink="about">Learn more...</a>
            </div>
            <div class="contact">
                <p class="phone">+1 (514) 249-2510</p>
                <p class="email">cedricbstpierre@yahoo.com</p>
                <a routerLink="contact">Contact me</a>
            </div>
        </div>
    </div>
</div>
